.hot {
  background-color: gray;
}

.hot-3 {
  background-color: #351c75;
}

.hot-6 {
  background-color: #674ea7;
}

.hot-9 {
  background-color: #e06666;
}

.hot-12 {
  background-color: #f6b26b;
}

.hot-15 {
  background-color: #ff0;
}

.hot-18 {
  background-color: white;
}
