.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.bulb-dark {
  background-color: #252525;
}

.bg-dark {
  background-color: #111;
}

.bulb-light {
  background-color: #faea84;
}

.bg-light {
  background-color: white;
}

.shadow-dark {
  box-shadow: 0 -10px 0 5px #000;
}

.shadow-light {
  box-shadow: 0 0 10px 5px #faea84;
}
